.background {
  background-image: url("https://www.motortrend.com/uploads/sites/5/2020/11/2021-MotorTrend-Car-of-the-Year-group-shot-1.jpg?fit=around%7C875:492");
  background-position-x: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  height: 800px;
  filter: blur(4px);
  backdrop-filter: blur(4px);
}
.parent {
  position: absolute;
  top: 0%;
  width: 100%;
  display: flex;
  height: 800px;
  justify-content: center;
  align-items: center;
}
.box {
  height: 625px;
  width: 565px;
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255, 0.8);
  font-size: 14px;
  color: black;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box h4 {
  width: 80%;
}
.wrapper {
  display: flex;
  justify-content: space-evenly;
}
.row_1,
.row_2 {
  align-items: self-start;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 5px;
  caret-color: transparent;
  height: 1.5rem;
  width: 12rem;
  font-weight: 600;
  padding: 5px;
}

.kilometer {
  caret-color: auto;
}

input:focus {
  border-style: solid;
  border-radius: 3px;
  border-color: #3498db;
  outline: none;
  animation: glow 1s ease-in-out infinite; /* Apply the glow animation */
}

.custom-select {
  display: flex;
  flex-direction: column;
}
.custom-select p {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8); /* Start and end with no glow */
  }
}

.option {
  z-index: 1;
  margin-top: 2.7rem;
  position: absolute;
  background-color: #f3f3f3;
  color: #333;
  width: 12.8rem;
  border-radius: 5px;
  overflow: hidden;
}
.option p {
  padding: 4px;
  display: flex;
  align-items: flex-start;
  height: 25px;
  width: 100%;
  cursor: pointer;
}
.option p:hover {
  background-color: #ededed;
}

p {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  margin-top: 20px;
}

button {
  z-index: 0;
  margin-top: 2rem;
  appearance: button;
  background-color: #1652f0;
  border: 1px solid #1652f0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  font-weight: 600;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

button:disabled {
  opacity: 0.5;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #0238c0;
  border-color: #0a46e4;
}

button:active {
  background-color: #0039d7;
  border-color: #0039d7;
}

@media screen and (max-width: 425px) {
  .box {
    height: 500px;
    width: 300px;
    font-size: 8px;
  }
  input {
   font-size: 10px;
    height: 1rem;
    width: 6rem;
    font-weight: 600;
    padding: 5px;
  }
  .row_1 p,
  .row_2 p{
    font-size: 10px;
  }
  button {
 
    font-size: 10px;
  
  }
}
